.testing {
  background-color: #ff9966;
}

@font-face {
  font-family: Muli;
  src: url(../font/mulireg.ttf);
  font-weight: 400;
}

body {
  -webkit-perspective: 800px;
          perspective: 800px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Muli', sans-serif;
  background: #225c46;
  background: -webkit-linear-gradient(315deg, #82a7d3 0%, #0ca56a 100%);
  background: linear-gradient(135deg, #82a7d3 0%, #0ca56a 100%);
}

body .authent {
  display: none;
  background: #58595d;
  position: absolute;
  left: 0;
  right: 90px;
  margin: auto;
  width: 100px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 70px;
  top: 200px;
  bottom: 0;
  height: 70px;
  opacity: 0;
}

body p {
  color: #b0b0b0;
  font-size: 10px;
  text-align: left;
}

body .login {
  opacity: 1;
  top: 20px;
  position: relative;
  width: 240px;
  border-top: 2px solid #0ca56a;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 100px 40px 40px 40px;
  background: #58595d;
}
body .login .validation {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 6px;
  opacity: 0;
}
body .login .disclaimer {
  position: absolute;
  bottom: -60px;
  left: 35px;
  width: 250px;
}
body .login_title {
  /*background-image: url("../imgs/blyplogo.png");
  background-repeat: no-repeat;*/
  height: 60px;
  width: 50%;
  margin: auto;

}
body .login_fields {
  height: 208px;
  position: absolute;
  left: 0;
}
body .login_fields .icon {
  position: absolute;
  z-index: 1;
  left: 36px;
  top: 8px;
  opacity: .5;
}
body .login_fields input[type='password'] {
  color: #0ca56a !important;
}
body .login_fields input[type='text'], body .login_fields input[type='password'] {
  color: #afb1be;
  width: 190px;
  margin-top: -2px;
  background: #58595d;
  left: 0;
  padding: 10px 65px;
  border-top: 1px solid #0ca56a;
  border-bottom: 1px solid #0ca56a;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Muli', sans-serif;
  box-shadow: none;
}
body .login_fields__user, body .login_fields__password {
  position: relative;
}
body .login_fields__submit {
  position: relative;
  top: 42px;
  left: 0;
  width: 77%;
  right: 0;
  margin: auto;
}

body .login_fields__submit input {
  border-radius: 50px;
  background: transparent;
  padding: 13px 100px;
  border: 2px solid #0ca56a;
  color: #0ca56a;
  text-transform: uppercase;
  font-size: 12px;
}
body .login_fields__submit input:focus {
  box-shadow: none;
  outline: none;
}
body .login_fields__submit input:hover {
  color: white;
  background: #0ca56a;
  cursor: pointer;
}

.index-card {
  height: 150px;
  max-width: 250px;
  min-width: 200px;
}

.createProduct{
  color: #ffffff;

}

.createProductLabel{
  color: #333333;
  font-size: 1.5em;
}

.createProductInput{
  color: #f2f2f2;
  font-size: 2em;
}

.my-card{
  border: 1px solid #000000;
  box-shadow: 1px 4px 4px 1px #b3b3b3;
  height: 100px;
  padding: 0px;
  margin: 0px;
  position: relative;
  display: block;
  /*margin-bottom: .75rem;*/
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
}

.myCardBlock{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.myCardTitle{
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.myCardImage{
  text-align: center;
  margin: auto;
}

.checkoutButton {
  background-color: #ff3333;
}

.backButton {
  background-color: #ff3333;
}

.increment-up{
  text-align: center;
  line-height: 32px;

}

.increment-down{
  text-align: center;
  line-height: 32px;
}

.pic{
  width: 100px;
  height: 65px;
  border: 1px solid #bfbfbf;
}

.delete{
  text-align: center;
  line-height: 37px;
  margin: 0px 0px 0px 2px;
}

.basket-item{
  width: 210px;
  border: #ff9966;
  box-shadow: 2px 2px 2px 2px;
  padding: 5px;
  margin: 5px;
}

.quantity: {
  margin: 3px 0px 15px 0px;
}

.login {
  box-sizing: content-box;
}

.logOut{
}

.login-fields {
  box-sizing: content-box;
}

.login-title {
  box-sizing: content-box;
}

.pay-button{
  background-color: #009933;
}

.credit-button{
  background-color: #009933;
}

.pay-with{
  padding: 0px 0px 0px 10px;
}

.total{
  padding: 0px 0px 0px 10px;
}

/*Nav bar styling below*/

.menu{
	width:100%;
	height:62px;
	margin:auto;
	background:#58595d;
	border-top:solid 2px #0ca56a;
  margin-top: 0px;
  margin-bottom: 40px;
}

.menu ul{
	margin:0;
	padding:0;
	float:left;
	list-style:none;
}

.menu ul li{
	position:relative;
	float:left;
}
.menu ul li a{
	display:block;
	height:62px;
	padding:0 30px;
	font:15px/45px 'Muli', sans-serif;
	color:#b0b0b0;
}

.menu .active{
	background: #58595d
}

.menu ul li.active > a, .menu ul li:hover > a, .menu ul li.active:hover > a{
	background:#0ca56a;
	color:#FFF;
}

.search{
	margin:16px 16px 16px 16px;
	float:right;
	border:solid 1px #555;
}

.search input[type="text"]{
	width:183px;
	height:24px;
	padding:3px 4px 0;
	float:left;
	font:13px 'Muli', sans-serif;
	color:#FFF;
	background:#58595d;
	border-bottom: 1px solid #0ca56a;
	border-top: none;
	border-right: none;
	border-left: none;
	outline: none;
}

.search button[type="searchicon"]{
	width:28px;
	height:28px;
	float:left;
	background-image:url(../images/search_icon.png);
	background-color:#b0b0b0;
	border:none;
	cursor:pointer;
}
